*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Ignore google firebase setup file
google-services.json
C:\Users\amr-PC\AndroidStudioProjects\captive-portal-analyzer-kotlin\app\google-services.json
# Ignore secret files
C:\Users\amr-PC\AndroidStudioProjects\captive-portal-analyzer-kotlin\app\src\main\java\com\example\captive_portal_analyzer_kotlin\secret\*
app/src/main/java/com/example/captive_portal_analyzer_kotlin/secret/
